<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Team section</title>
</head>
<body>
	<section class="team">

		<div class="back">
			<h3> <a href=" " class="back_btn">Back</a></h3>
		</div>

		<div class="center">
			<h1>Our Team: Collaborating for Success</h1>
		</div>

		<div class="team-content">
			<div class="box">
				<img src="assets/images/payal.jpeg">
				<h3>Payal</h3>
				<h5>Full Stack Web Developer</h5>
				<div class="icons">
					<a href="https://github.com/payal895"><i class="ri-github-fill"></i></a>
					<a href="#"><i class="ri-facebook-box-fill"></i></a>
					<a href="https://www.linkedin.com/in/payal-kumari-989074239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ri-linkedin-box-fill"></i></a>
				</div>
			</div>

			<div class="box">
				<img src="assets/images/Kamal.jpeg">
				<h3>Kamal</h3>
				<h5>Full Stack Web Developer</h5>
				<div class="icons">
					<a href="https://github.com/kamal8996"><i class="ri-github-fill"></i></a>
					<a href="https://www.facebook.com/kml.sharma.543"><i class="ri-facebook-box-fill"></i></a>
					<a href="https://www.instagram.com/kmljeev_sharma30/"><i class="ri-instagram-fill"></i></a>
				</div>
			</div>

			<div class="box">
				<img src="assets/images/Aaaaa.jpeg">
				<h3>Aanchal Kumari</h3>
				<h5>Full Stack Web Developer</h5>
				<div class="icons">
					<a href="https://twitter.com/AnchalK68223112"><i class="ri-twitter-fill"></i></a>
					<a href="https://www.linkedin.com/in/aanchal-kumari-29a40a252/"><i class="ri-linkedin-box-fill"></i></a>
					<a href="https://github.com/aanchal5555"><i class="ri-github-fill"></i></a>
				</div>
			</div>
			
			<div class="box">
				<img src="assets/images/Anjuu.jpeg">
				<h3>Anju Kumari</h3>
				<h5>Full Stack Web Developer</h5>
				<div class="icons">
					<a href="https://github.com/Anju2004"><i class="ri-github-fill"></i></a>
					<a href="https://www.linkedin.com/in/anju-kumari-15b1a1249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ri-linkedin-box-fill"></i></a>
					<a href="https://www.instagram.com/anju_gupta__1710?utm_source=qr&igsh=MTFjeWJyMmd6Y2J1Zg=="><i class="ri-instagram-fill"></i></a>
				</div>
			</div>

			<div class="box">
				<img src="assets/images/tanuuu.jpeg">
				<h3>Tannu Dhanda</h3>
				<h5>Full Stack Web Developer</h5>
				<div class="icons">
					<a href="https://x.com/tannudhanda1?t=zrDcIpgx39dUpMnwmPM4_Q&s=08"><i class="ri-twitter-fill"></i></a>
					<a href="https://www.linkedin.com/in/tannu-dhanda-00b78b229?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ri-linkedin-box-fill"></i></a>
					<a href="https://github.com/dhandatannu"><i class="ri-github-fill"></i></a>
				</div>
			</div>

		</div>
	</section>

</body>
</html>