<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="back">
        <h3> <a href=" " class="back_btn">Back</a></h3>
    </div>
    
    <div class="main" id="home">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form action="/">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required>

                <input type="email" name="email" id="" placeholder="Email" required>
                <input type="password" name="pswd" placeholder="password" id="" required>
                <input type="password" name="pswd" placeholder="Confirm password" id="" required>
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form action="/">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" id="" placeholder="Email Or User name" required>
                <input type="password" name="password" id="" placeholder="password" required>
                <button>Login</button>
                <p>Don't have account <a href="login">Create account</a>.</p>
            </form>
        </div>
    </div>
</body>
</html>